attrs==21.2.0
bcc==0.1.8
bcrypt==4.0.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
email-validator==1.2.1
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-WTF @ https://github.com/wtforms/flask-wtf/archive/main.tar.gz
fonttools==4.34.4
gunicorn==20.1.0
httplib2==0.20.2
importlib-metadata==4.6.4
Jinja2==3.1.2
jsonschema==3.2.0
MarkupSafe==2.1.1
matplotlib==3.5.2
more-itertools==8.10.0
netaddr==0.8.0
netifaces==0.11.0
numpy==1.23.1
oauthlib==3.2.0
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
pop-transition==1.1.2
pycups==2.0.1
pydbus==0.6.0
PyGObject==3.42.0
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.3.0+ubuntu2
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==0.19.2
python-xlib==0.29
PyYAML==5.4.1
requests==2.25.1
rpm==4.17.0
scikit-learn==1.1.2
scipy==1.9.1
SecretStorage==3.3.1
sklearn==0.0
SQLAlchemy==1.4.39
systemd-python==234
texttable==1.6.4
ufw==0.36.1
urllib3==1.26.5
websocket-client==1.2.3
Werkzeug==2.1.2
WTForms==3.0.1
