{% extends "layout.html" %}
{% block content %}
<div class = "d-flex justify-content-center">
    <div class="row">
        <div class="col"><canvas id="moisture_graph" width="400" height="300"> </canvas>Soil Moisture Values</div>
        <div class="col"><canvas id="deceasedmoisture_graph" width="400" height="300"></canvas></div>
    </div>
    <div class="row">
        <div class="col"><canvas id="temperature_graph" width="400" height="300"></canvas>Temperature Values</div>
        <div class="col"><canvas id="deceasedtemperature_graph" width="400" height="300"></canvas></div>
    </div>
    <div class="row">
        <div class="col"><canvas id="humidity_graph" width="400" height="300"> </canvas>Humidity Values</div>
        <div class="col"><canvas id="deceasedhumidity_graph" width="400" height="300"> </canvas></div>
    </div>
</div>
<script>

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "white";
    Chart.defaults.global.scaleFontSize = 16;

    //////////////////////////////////////////////////////////////
    // Soil Moisture chart data
    var moistureData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in healthymoisturevalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var moisturechart = document.getElementById("moisture_graph").getContext("2d");

    steps = 10
    max = 4000
    // draw bar chart
    var MoistureChart = new Chart(moisturechart).Line(moistureData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    ///////////////////////////////////////////////////////////////////
    // Deceased Soil Moisture chart data
    var deceasedmoistureData = {
    labels: [
        {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in deceasedmoisturevalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var deceasedmoisturechart = document.getElementById("deceasedmoisture_graph").getContext("2d");

    steps = 10
    max = 4000
    // draw bar chart
    var deceasedMoistureChart = new Chart(deceasedmoisturechart).Line(deceasedmoistureData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    ///////////////////////////////////////////////////////////////////
    // Temperature chart data
    var temperatureData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in healthytempvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var temperaturechart = document.getElementById("temperature_graph").getContext("2d");

    steps = 10
    max = 60
    // draw bar chart
    var TemperatureChart = new Chart(temperaturechart).Line(temperatureData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    /////////////////////////////////////////////////////////////////////

    // Deceeased Temperature chart data
    var deceasedtemperatureData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in deceasedtempvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var deceasedtemperaturechart = document.getElementById("deceasedtemperature_graph").getContext("2d");

    steps = 10
    max = 60
    // draw bar chart
    var deceasedTemperatureChart = new Chart(deceasedtemperaturechart).Line(deceasedtemperatureData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    /////////////////////////////////////////////////////////////////////

    // humidity chart data
    var humidityData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in healthyhumidityvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var humiditychart = document.getElementById("humidity_graph").getContext("2d");

    steps = 10
    max = 100
    // draw bar chart
    var HumidityChart = new Chart(humiditychart).Line(humidityData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    /////////////////////////////////////////////////////////////////////

    // deceasedhumidity chart data
    var deceasedhumidityData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in deceasedhumidityvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var deceasedhumiditychart = document.getElementById("deceasedhumidity_graph").getContext("2d");

    steps = 10
    max = 100
    // draw bar chart
    var deceasedHumidityChart = new Chart(deceasedhumiditychart).Line(deceasedhumidityData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

</script>
{% endblock content %}