{% extends "layout.html" %}
{% block content %}
<div class = "d-flex justify-content-center">
    <div class="row">
        <div class="col"><canvas id="light_graph" width="400" height="300"></canvas>Light Values</div>
        <div class="col"><canvas id="deceasedlight_graph" width="400" height="300"> </canvas></div>
    </div>
    <div class="row">
        <div class="col"><canvas id="co2_graph" width="400" height="300"></canvas>CO2 Values</div>
        <div class="col"><canvas id="deceasedco2_graph" width="400" height="300"> </canvas></div>
    </div>
    <div class="row">
        <div class="col"><canvas id="tvoc_graph" width="400" height="300"></canvas>TVOC Values</div>
        <div class="col"><canvas id="deceasedtvoc_graph" width="400" height="300"></canvas></div>
    </div>
</div>
<script>

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "white";
    Chart.defaults.global.scaleFontSize = 16;

    // Light chart data
    var lightData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        color: "white",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in healthylightvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var lightchart = document.getElementById("light_graph").getContext("2d");

    steps = 10
    max = 1000
    // draw bar chart
    var LightChart = new Chart(lightchart).Line(lightData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    //////////////////////////////////////////////////////////////
    // Deceased Light chart data
    var deceasedlightData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in deceasedlightvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var deceasedlightchart = document.getElementById("deceasedlight_graph").getContext("2d");

    steps = 10
    max = 4000
    // draw bar chart
    var deceasedlightChart = new Chart(deceasedlightchart).Line(deceasedlightData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    ///////////////////////////////////////////////////////////////////

    // co2 chart data
    var co2Data = {
        labels: [
            {% for item in ids %}
                "{{ item }}",
            {% endfor %}
            ],

        datasets: [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve: false,
            data: [
                {% for item in healthyCO2values %}
                    {{ item }},
                {% endfor %}
                ]
            }]
        }

    // get bar chart canvas
    var co2chart = document.getElementById("co2_graph").getContext("2d");

    steps = 10
    max = 1000
    // draw bar chart
    var Co2Chart = new Chart(co2chart).Line(co2Data, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    //////////////////////////////////////////////////////////////

    // deceasedco2 chart data
    var deceasedco2Data = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in deceasedCO2values %}
                        {{ item }},
    {% endfor %}
    ]
            }]
        }

    // get bar chart canvas
    var deceasedco2chart = document.getElementById("deceasedco2_graph").getContext("2d");

    steps = 10
    max = 1000
    // draw bar chart
    var deceasedCo2Chart = new Chart(deceasedco2chart).Line(deceasedco2Data, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    //////////////////////////////////////////////////////////////

    // TVOC chart data
    var tvocData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in healthyTVOCvalues %}
                        {{ item }},
    {% endfor %}]
            }]
        }

    // get bar chart canvas
    var tvocchart = document.getElementById("tvoc_graph").getContext("2d");

    steps = 10
    max = 500
    // draw bar chart
    var TvocChart = new Chart(tvocchart).Line(tvocData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });
    
    //////////////////////////////////////////////////////////////

    // Deceased TVOC chart data
    var deceasedtvocData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in deceasedTVOCvalues %}
                        {{ item }},
    {% endfor %}]
            }]
        }

    // get bar chart canvas
    var deceasedtvocchart = document.getElementById("deceasedtvoc_graph").getContext("2d");

    steps = 10
    max = 500
    // draw bar chart
    var deceasedTvocChart = new Chart(deceasedtvocchart).Line(deceasedtvocData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

</script>
{% endblock content %}