{% extends "layout.html" %}
{% block content %}
<div class = "d-flex justify-content-center">
    <div class="row">Light Values
        <div class="col"><canvas id="light_graph" width="400" height="300"></canvas>Moisture Values</div>
        <div class="col"><canvas id="moisture_graph" width="400" height="300"> </canvas></div>
    </div>
    <div class="row">Temperature Values
        <div class="col"><canvas id="temperature_graph" width="400" height="300"></canvas>Humidity Values</div>
        <div class="col"><canvas id="humidity_graph" width="400" height="300"> </canvas></div>
    </div>
    <div class="row">CO2 Values
        <div class="col"><canvas id="co2_graph" width="400" height="300"></canvas>TVOC Values</div>
        <div class="col"><canvas id="tvoc_graph" width="400" height="300"></canvas></div>
    </div>
</div>
<script>

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "white";
    Chart.defaults.global.scaleFontSize = 16;

    // Light chart data
    var lightData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        color: "white",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in lightvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var lightchart = document.getElementById("light_graph").getContext("2d");

    steps = 10
    max = 500
    // draw bar chart
    var LightChart = new Chart(lightchart).Line(lightData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    //////////////////////////////////////////////////////////////
    // Soil Moisture chart data
    var moistureData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in moisturevalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var moisturechart = document.getElementById("moisture_graph").getContext("2d");

    steps = 10
    max = 4000
    // draw bar chart
    var MoistureChart = new Chart(moisturechart).Line(moistureData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    ///////////////////////////////////////////////////////////////////
    // Temperature chart data
    var temperatureData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in tempvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var temperaturechart = document.getElementById("temperature_graph").getContext("2d");

    steps = 10
    max = 60
    // draw bar chart
    var TemperatureChart = new Chart(temperaturechart).Line(temperatureData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    /////////////////////////////////////////////////////////////////////
    // humidity chart data
    var humidityData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in humidityvalues %}
                        {{ item }},
    {% endfor %}]
                }]
        }

    // get bar chart canvas
    var humiditychart = document.getElementById("humidity_graph").getContext("2d");

    steps = 10
    max = 100
    // draw bar chart
    var HumidityChart = new Chart(humiditychart).Line(humidityData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });


    // co2 chart data
    var co2Data = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in CO2values %}
                        {{ item }},
    {% endfor %}
    ]
            }]
        }

    // get bar chart canvas
    var co2chart = document.getElementById("co2_graph").getContext("2d");

    steps = 10
    max = 1000
    // draw bar chart
    var Co2Chart = new Chart(co2chart).Line(co2Data, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

    //////////////////////////////////////////////////////////////

    // TVOC chart data
    var tvocData = {
        labels: [
            {% for item in ids %}
    "{{ item }}",
        {% endfor %}
            ],

    datasets: [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        bezierCurve: false,
        data: [
            {% for item in TVOCvalues %}
                        {{ item }},
    {% endfor %}]
            }]
        }

    // get bar chart canvas
    var tvocchart = document.getElementById("tvoc_graph").getContext("2d");

    steps = 10
    max = 100
    // draw bar chart
    var TvocChart = new Chart(tvocchart).Line(tvocData, { scaleOverride: true, scaleSteps: steps, scaleStepWidth: Math.ceil(max / steps), scaleStartValue: 0, scaleShowVerticalLines: true, barShowStroke: true, scaleShowLabels: true });

</script>
{% endblock content %}